<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="w-full bg-indigo-500 p-2 shadow-md mb-6">
      <h1 class="w-3/5 mx-auto text-2xl font-sans text-white tracking-wide">
        <a href="/">Rails Task App</a>
      </h1>
    </header>
    <% if flash.notice.present? then %>
    <p class="w-3/5 mx-auto mb-5 text-blue-900 bg-indigo-100 border-indigo-200 border-2 rounded py-2 px-4 shadow-md">
    <%= flash.notice %>
    </p>
    <% end %>

    <main class="w-3/5 mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
