<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="w-full bg-indigo-500 p-2 shadow-md mb-6">
      <h1 class="w-3/5 mx-auto text-2xl font-sans text-white tracking-wide">
        Rails Task App
      </h1>
    </header>
    <main class="w-3/5 mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
